/*============================== GOOGLE FONTS ==============================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/*=============== Varibles ===============*/
:root {
  /********** Colors **********/
  --first-color: #ffb3b2;
  --white-color: #fff;
  --dark-color: #121212;
  --white-color-text: #fff8f8;

  /********** Fonts **********/
  --body-font: "Poppins", sans-serif;

  --bigger-font-size: 2.25rem;
  --big-font-size: 1.5rem;
  --normal-font-size: 0.813rem;
}

@media screen and (min-width: 768px) {
  :root {
    --bigger-font-size: 4.5rem;
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

/* Base Css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::before,
::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  align-items: flex-end;
}

img {
  max-width: 100%;
  height: auto;
}
header {
  position: absolute;
  width: 100%;
}
/* Navbar - Menu */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

/* Content */
.home {
  background: url(../img/background.jpg) no-repeat center center/cover;
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}
.home-title {
  font-size: 50px;
  color: #fff8f8;
}
.nav-logo {
  color: #121212;
  font-size: 30px;
  font-weight: bolder;
}
span {
  color: #fff8f8;
}
#nav-menu {
  color: #121212;
  padding-right: 20px;
}
.bx-play-circle {
  font-size: 50px;
  color: #fff;
}
.home-play {
  font-size: 25px;
  color: black;
}
p {
  color: black;
  font-family: inherit;
}
/* Social Media */

.social-media {
  position: fixed;
  right: 3%;
  bottom: 0;
  background-color: var(--first-color);
  padding: 0.75rem 1.5rem 0.35rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 25px;
}

/* Responsive */
@media screen and (min-width: 768px) {
}
